In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'name': ['Robert', 'Felicia', 'Diana'],
    'age': [22, 34, 27],
    'occupation': ['Designer', 'Programmer', 'Data Scientist']
})

In [ ]:
df

In [ ]:
df.loc[0] # this can be used to locate a specific row from the data frame

In [ ]:
df = df.set_index('name')

In [ ]:
df.loc['Diana'] # you can also use it to locate specific values

In [ ]:
df.iloc[0] # this can also be used to locate a specific row from the data frame, but it uses an integer

In [ ]:
df.loc['Robert', 'age']

In [ ]:
df.iloc[0, 0]

In [ ]:
df.at['Diana', 'age'] # at and iat is used to find only specific values, 
                      # it can't process an entire row

In [ ]:
df.iat[2, 0] # this works the same as iloc

In [23]:
df.at['Diana', 'age'] = [28] # it can also be used to change values inside the data frame
df.at['Diana', 'age']

np.int64(28)

In [ ]:
df.loc['Felicia'] = [35, 'Senior Developer']
df

In [ ]:
df.loc['Jim'] = [26, 'Manager'] # this can also be used for adding data
df