In [ ]:
import pandas as pd

In [ ]:
from sklearn.datasets import fetch_california_housing

In [ ]:
df = fetch_california_housing(as_frame=True).frame

In [ ]:
df

In [ ]:
# Getting information about the data frame

In [ ]:
df.head() # this will get the firt five rows

In [ ]:
df.tail() # this will get the last five rows

In [ ]:
df.head(10) # you can also specify an amount of rows

In [ ]:
df.tail(10) # the same goes here

In [ ]:
df.sample() # this will get you one random row

In [ ]:
df.sample(5) # you can also specify an amout of rows

In [ ]:
df.columns # this will print the columns

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'MedHouseVal'],
      dtype='object')

In [ ]:
list(df.columns) # you can also create a list based on the existing columns

['MedInc',
 'HouseAge',
 'AveRooms',
 'AveBedrms',
 'Population',
 'AveOccup',
 'Latitude',
 'Longitude',
 'MedHouseVal']

In [ ]:
pd.options.display.max_columns = 5 # this will show a specific amount of columns

df

       MedInc  HouseAge  ...  Longitude  MedHouseVal
0      8.3252      41.0  ...    -122.23        4.526
1      8.3014      21.0  ...    -122.22        3.585
2      7.2574      52.0  ...    -122.24        3.521
3      5.6431      52.0  ...    -122.25        3.413
4      3.8462      52.0  ...    -122.25        3.422
...       ...       ...  ...        ...          ...
20635  1.5603      25.0  ...    -121.09        0.781
20636  2.5568      18.0  ...    -121.21        0.771
20637  1.7000      17.0  ...    -121.22        0.923
20638  1.8672      18.0  ...    -121.32        0.847
20639  2.3886      16.0  ...    -121.24        0.894

[20640 rows x 9 columns]

In [ ]:
df.info() # this will show information about the data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB