In [1]:
import pandas as pd

In [17]:
df = pd.DataFrame({
    'name': ['Robert', 'Felicia', 'Diana'],
    'age': [22, 34, 27],
    'occupation': ['Designer', 'Programmer', 'Data Scientist']
})

df = df.set_index('name')
df['summary'] = df.apply(lambda row: f'Age: {row["age"]}, Occupation: {row["occupation"]}', axis=1)
df

         age      occupation                              summary
name
Robert    22        Designer        Age: 22, Occupation: Designer
Felicia   34      Programmer      Age: 34, Occupation: Programmer
Diana     27  Data Scientist  Age: 27, Occupation: Data Scientist

In [9]:
df.iterrows() # this is used to iterate over rows

In [10]:
df.items() # this is used to iterate over columns

In [13]:
for i, row in df.iterrows(): # this loop using df.iterrows() will print out the indexes
    print(i)

Robert
Felicia
Diana

In [20]:
for i, row in df.iterrows(): # by printing the row you will get the Series object, wich is the row
    print(row)

age                                      22
occupation                         Designer
summary       Age: 22, Occupation: Designer
Name: Robert, dtype: object
age                                        34
occupation                         Programmer
summary       Age: 34, Occupation: Programmer
Name: Felicia, dtype: object
age                                            27
occupation                         Data Scientist
summary       Age: 27, Occupation: Data Scientist
Name: Diana, dtype: object

In [23]:
for i, row in df.iterrows(): # you can also choose to print individual rows
    print(row['summary'])

Age: 22, Occupation: Designer
Age: 34, Occupation: Programmer
Age: 27, Occupation: Data Scientist

In [25]:
for i, column in df.items(): # this loop using df.items() will print out the columns
    print(i)

age
occupation
summary

In [24]:
for i, column in df.items():
    print(column)

name
Robert     22
Felicia    34
Diana      27
Name: age, dtype: int64
name
Robert           Designer
Felicia        Programmer
Diana      Data Scientist
Name: occupation, dtype: object
name
Robert           Age: 22, Occupation: Designer
Felicia        Age: 34, Occupation: Programmer
Diana      Age: 27, Occupation: Data Scientist
Name: summary, dtype: object