In [40]:
import pandas as pd

In [41]:
df = pd.DataFrame({
    'name': ['Robert', 'Felicia', 'Diana'],
    'age': [22, 34, 27],
    'occupation': ['Designer', 'Programmer', 'Data Scientist']
})

In [48]:
df.age ** 2

0     484
1    1156
2     729
Name: age, dtype: int64

In [43]:
def manipulating_ages(x):
    if x % 3 == 0:
        return x ** 1
    else:
        return x // 10

In [44]:
df.age.apply(manipulating_ages)

0     2
1     3
2    27
Name: age, dtype: int64

In [45]:
def manipulating_jobs(x):
    if x.endswith('r'):
        return 'Unemployed'
    else:
        return x

In [46]:
df.occupation.apply(manipulating_jobs)

0        Unemployed
1        Unemployed
2    Data Scientist
Name: occupation, dtype: object

In [47]:
df.occupation = df.occupation.apply(manipulating_jobs)
df

      name  age      occupation
0   Robert   22      Unemployed
1  Felicia   34      Unemployed
2    Diana   27  Data Scientist