In [ ]:
import pandas as pd

In [ ]:
# Series
values = [10, 20, 30, 40, 50]
s = pd.Series(values)
s

In [ ]:
d = pd.Series(values, index=['a', 'b', 'c', 'd', 'e'])
d

In [ ]:
d.loc['a']

In [ ]:
# Data Frame
df = pd.DataFrame({
    'name': ['Mike', 'Bob', 'Alice'],
    'age': [30, 80, 45],
    'job': ['Programmer', 'Clerk', 'Designer']
})

df = df.set_index('name')

In [ ]:
df

In [ ]:
df.loc['Mike']

In [ ]:
# Using sum in Data Frame
df1 = pd.DataFrame({
    'a': [1, 2, 3]
})

df2 = pd.DataFrame({
    'a': [10, 20, 30]
})

In [ ]:
df1 + df2

In [ ]:
df1 = pd.DataFrame({
    'a': [1, 2, 3]
}, index=[2, 1, 0])

df2 = pd.DataFrame({
    'a': [10, 20, 30],
}, index=[0, 1, 2])

In [ ]:
df1 + df2 # By specifying the index, it will sum each value with its respective index

In [44]:
# Exporting data
df.to_csv('tabela.csv', index=None)
df.to_json('tabela.json', index=None)

In [43]:
# Importing data
pd.read_csv('tabela.csv', index_col=0)

       age         job
name
Mike    30  Programmer
Bob     80       Clerk
Alice   45    Designer